* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#header-nav {
    background-color: brown;
    margin:0px;
    padding: 0px;
}

div #navbar-brand {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}

#nav-list a {
    color: black;
    
}

#nav-list a:hover {
    background: peru;
}

#main-content {
    box-sizing: border-box;
}

div > section {
    clear: left;
    padding-top: 1%;
    background-color: teal;
}

.nav li a {
    color:black;
    font-size: 20px;
} 

h1 {
    text-align: center;
    margin-top: 90px;
}

#titles div h2 {
    font-size: 25px;
    color: white;
}

.title2 {
    padding: 15px;
    margin-bottom: 15px;
}

div > p {
    color: rgb(200, 209, 209);
    font-size: 17px;
}

footer {
    background-color: rgb(119, 160, 109);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

footer a:hover {
    text-decoration: none;
    color:white;
}



/********** Mobile Devices Only ********/
@media (max-width: 768px) {


    
.title2 {
    width: 70%;
    margin: auto;
}

div #navbar-brand {
    margin-left: 2%;
}

.title2 {
    padding: 15px;
    margin-bottom: 15px;
}

}



